.embla {
  /* max-width: 70rem; */
  /* margin: auto; */
  width: 100%;
  /* --slide-height: 19rem; */
  --slide-spacing: 1.6rem;
  --slide-size: 100%;

  --slide-spacing-lg: 2.4rem;
  --slide-size-lg: 50%;
  /* --slide-spacing-lg: 2rem; */
  /* --slide-size-lg: calc(100% / 2); */

}
.embla__viewport {
  width: 100%;
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  cursor: grab;
}
@media (min-width: 768px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

/* @media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
} */

.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

/* @media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
} */

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 40px;
  /* background: blue; */
}
.embla__buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  align-items: center;
  width: 100%;
  position: absolute;
  padding-inline: calc(var(--slide-spacing-lg) + 1px);
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  /* text-decoration: none; */
  cursor: pointer;
  border: 0;
  /* padding: 0; */
  /* margin: 0; */
  box-shadow: inset 0 0 0 0.16rem var(--detail-medium-contrast);
  width: 2rem;
  height: 2rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button:hover{
  background-color: rgba(0,0,0,0.1);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}


.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* margin-right: calc((2.6rem - 1.4rem) / 2 * -1); */
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  /* border: 0; */
  /* padding: 0; */
  /* margin: 0; */
  /* margin-top: 8px; */
  z-index: 20;
  width: 28px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.1rem var(--detail-high-contrast);
  width: 100%;
  height: 100%;
  /* width: 1.4rem; */
  /* height: 1.4rem; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  content: '';
}
.embla__dot--selected:after {
  background-color: var(--color-primary);
  box-shadow: inset 0 0 0 0.1rem var(--color-primary);
}